<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- mybatis 구동 시 선언할 설정들을 작성 -->
	<settings>
 		<!-- Null 값이 발생할 경우 빈칸이 아닌 null로 인식해라 -->
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
  
	<!-- 사용할 자료형의 별칭 선언 : 추가 필요 -->
  	<typeAliases>
  		<typeAlias type="com.woong.wuction.member.model.vo.Member" alias="Member"/>
  		<typeAlias type="com.woong.wuction.posting.model.vo.Posting" alias="Posting"/>
  		<typeAlias type="com.woong.wuction.posting.model.vo.Image" alias="Image"/>
  		<typeAlias type="com.woong.wuction.posting.model.vo.Bid" alias="Bid"/>
  		<typeAlias type="com.woong.wuction.posting.model.dto.MainPagePosting" alias="MainPagePosting" />
  		<typeAlias type="com.woong.wuction.mypage.model.dto.MyBid" alias="MyBid"/>
  	</typeAliases>
  	
  	<!-- mybatis에서 연동할 DB정보를 작성 -->
  	<environments default="development">
    	<environment id="development">
	      	<transactionManager type="JDBC"/>
	    
	      	<dataSource type="POOLED">
	        	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	        	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	        	<property name="username" value="C##wuction"/>
	        	<property name="password" value="wuction"/>
	      	</dataSource>
    	</environment>
	</environments>
      
    <!-- 실행할 sql믄을 저장한 mapper 파일 등록 -->
  	<mappers>
  	  	<mapper resource="/mappers/member-mapper.xml"/>
  	  	<mapper resource="/mappers/posting-mapper.xml"/>
  	  	<mapper resource="/mappers/image-mapper.xml"/>
  	  	<mapper resource="/mappers/bid-mapper.xml"/>
  	</mappers>
      
</configuration>
  
  
  
  