<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bidMapper">

	<resultMap type="Bid" id="BidResultSet">
		<result property="bidNo" column="bid_no"/>
		<result property="postingNo" column="posting_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="bidPrice" column="bid_price"/>
		<result property="bidTime" column="bid_time"/>
	</resultMap>

	<!-- 입찰 내역 조회 -->
	<select id="selectBidList" resultMap="BidResultSet">
		SELECT 
			b.BID_NO,
			b.POSTING_NO,
			b.MEM_NO,
			b.BID_PRICE,
			b.BID_TIME
		FROM BID b
		JOIN MEMBER m ON b.MEM_NO = m.MEM_NO
		JOIN POSTING p ON b.POSTING_NO = p.POSTING_NO
		WHERE b.POSTING_NO = #{postingNo}
		  AND p.STATUS = 'BID'
		  AND m.STATUS = 'Y'
		ORDER BY b.BID_TIME DESC
	</select>

	<!-- 입찰 등록 -->
	<insert id="insertBid">
		INSERT INTO BID (
			POSTING_NO,
			MEM_NO,
			BID_PRICE,
			BID_TIME
		)
		VALUES (
			#{postingNo},
			#{memNo},
			#{bidPrice},
			NOW()
		)
	</insert>

	<!-- 마이페이지 입찰 목록 -->
	<resultMap type="MyBid" id="myBidResultSet">
		<result property="bidPrice" column="bid_price"/>
		<result property="bidTime" column="bid_time"/>
		<result property="productName" column="product_name"/>
	</resultMap>

	<select id="selectMyBidList" resultMap="myBidResultSet">
		SELECT BID_PRICE, BID_TIME, PRODUCT_NAME
		FROM POSTING JOIN BID B USING (POSTING_NO)
		WHERE b.MEM_NO = #{memNo}
	</select>

</mapper>
