<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultSet">
		<result property="memNo" column="mem_no"/>
		<result property="memId" column="mem_id"/>
		<result property="memPwd" column="mem_pwd"/>
		<result property="name" column="name"/>
		<result property="birthDate" column="birth_date"/>
		<result property="postCode" column="post_code"/>
		<result property="fullAddress" column="full_address"/>
		<result property="email" column="email"/>
		<result property="joinDate" column="join_date"/>
		<result property="status" column="status"/>
	</resultMap>

	<!-- 로그인 -->
	<select id="selectMember" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		  AND MEM_PWD = #{memPwd}
		  AND STATUS = 'Y'
	</select>

	<!-- 회원가입 -->
	<insert id="insertMember">
		INSERT INTO MEMBER (
			MEM_ID,
			MEM_PWD,
			NAME,
			BIRTH_DATE,
			POST_CODE,
			FULL_ADDRESS,
			EMAIL,
			JOIN_DATE,
			STATUS
		)
		VALUES (
			#{memId},
			#{memPwd},
			#{name},
			#{birthDate},
			#{postCode},
			#{fullAddress},
			#{email},
			NOW(),
			'Y'
		)
	</insert>

	<select id="selectId" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEM_ID = #{memId}
		  AND STATUS = 'Y'
	</select>

	<update id="updateMember">
		UPDATE MEMBER
		SET NAME = #{name},
			BIRTH_DATE = #{birthDate},
			POST_CODE = #{postCode},
			FULL_ADDRESS = #{fullAddress},
			EMAIL = #{email}
		WHERE MEM_ID = #{memId}
		  AND STATUS = 'Y'
	</update>

	<update id="updatePassword">
		UPDATE MEMBER
		SET MEM_PWD = #{memPwd}
		WHERE MEM_ID = #{memId}
		  AND STATUS = 'Y'
	</update>

	<select id="selectEmail" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE EMAIL = #{email}
		  AND STATUS = 'Y'
	</select>

	<update id="deleteMember">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE MEM_ID = #{memId}
		  AND MEM_PWD = #{memPwd}
		  AND STATUS = 'Y'
	</update>

	<update id="pwdFindMember">
		UPDATE MEMBER
		SET MEM_PWD = #{memPwd}
		WHERE EMAIL = #{email}
		  AND STATUS = 'Y'
	</update>

</mapper>
